<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="../../assets/1.png" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="../../assets/2.png" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="../../assets/3.png" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="../../assets/4.png" />
  </div>
</div>

<div class="arrows">
  <a class="arrowPrev">&#10094;</a>
  <a class="arrowNext">&#10095;</a>
</div>

<div class="buttons">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
